* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #767fad;
    overflow-x: hidden;
    overflow-y: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 20px;
    margin-bottom: 10vh;
    position: fixed;
    top: 0%;
    z-index: 1;
}

#profileAndWelcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcomeMessage {
    margin-right: 2rem;
    font-size: medium;
}

nav h2 {
    padding-left: 10px;
    align-self: center;
}

#profilePicture {
    height: 45px;
    width: 45px;
    /* background-image: url("https://image.lexica.art/full_jpg/a6c473a6-51e3-4679-88bd-31efa77a3599"); */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border-width: 2.5px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    /* border: none; */
    cursor: pointer;
}

#pillbarContainer {
    display: none;
}

.sidebarContainer {
    font-family: poppins;
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: n;
    /* justify-content: center; */

}

.sidebar {
    /* background-color: bisque; */
    padding: 30px;
}

.sidebar a {
    padding: 6px 8px 25px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #828282;
    display: block;
}

#logoutButton {
    position: fixed;
    bottom: 20px;
    color: rgb(255, 113, 97);
}

#logoutButton:hover {
    color: rgb(255, 82, 63);
}

.sidebar a:hover {
    color: #e1e1e1;
}

#allPostsContainer {
    background-color: rgba(255, 255, 255, 0);
    font-family: poppins;
    margin-left: 20%;
    margin-top: 86px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

dotlottie-wc {
    font-family: poppins;
    font-size: xx-large;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginFirst {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#postBox {
    height: auto;
    width: auto;
    max-width: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

#postAdminDetailsBar {
    background-color: #b2b2b2;
    padding: 5px;
    display: flex;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* height: 5%; */
}

#postProfilePicture {
    height: 30px;
    width: 30px;
    /* background-image: url("https://image.lexica.art/full_jpg/a6c473a6-51e3-4679-88bd-31efa77a3599"); */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    /* border: none; */
    cursor: pointer;
    margin-right: 5px;
}

#titleBar {
    padding-left: 5px;
    font-size: 30px;
    background-color: #828282;
}

#postContent {
    /* padding: 5px; */
    margin-top: 0px;
    max-width: 680px;
    height: auto;
}

#postContent img {
    max-width: 680px;
}

#postDetailsBar {
    padding: 5px;
    background-color: cadetblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#postedAt {
    font-size: small;
}

@media (max-width:870px) and (min-width:200px) {
    .sidebarContainer {
        display: none;
    }

    #pillbarContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 10px;
    }

    #pillbar {
        height: 50px;
        width: 70vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: rgba(0, 0, 0, 0.116);
        backdrop-filter: blur(10px);
        border-radius: 25px;
    }

    #pillbarLogoutButton i {
        color: red;
    }

    #pillbar a {
        color: rgb(0, 0, 0);
    }

    #allPostsContainer {
        /* background-color: rgba(175, 67, 67, 0.852); */
        font-family: poppins;
        margin-left: 0;
        margin-top: 90px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 0;
    }

    #postContent {
        /* padding: 5px; */
        margin-top: 0px;
        min-width: 80vw;
        max-width: 90vw;
        height: auto;
    }

    #postContent img {
        min-width: 80vw;
        max-width: 100%;
    }
}