* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(205, 147, 255);
    overflow-x: hidden;
    overflow-y: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 20px;
    margin-bottom: 10vh;
    position: fixed;
    top: 0%;
    z-index: 1;
}

nav h2 {
    padding-left: 10px;
    align-self: center;
}

#profilePicture {
    height: 45px;
    width: 45px;
    background-image: url("https://image.lexica.art/full_jpg/a6c473a6-51e3-4679-88bd-31efa77a3599");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

/* #profilePicture img{
    height:100%;
    width: 100%;
    border-radius: 50%;
} */
.sidebarContainer {
    font-family: poppins;
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: n;
    /* justify-content: center; */

}

.sidebar {
    /* background-color: bisque; */
    padding: 30px;
}

.sidebar a {
    padding: 6px 8px 25px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #828282;
    display: block;
}

#logoutButton {
    position: fixed;
    bottom: 20px;
    color: rgb(255, 113, 97);
    ;
}

#logoutButton:hover {
    color: rgb(255, 82, 63);
}

.sidebar a:hover {
    color: #e1e1e1;
}

.allPostsContainer {
    background-color: aqua;
    margin-left: 20%;
    margin-top: 86px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.allPostsContainer div {
    height: 100px;
    width: 500px;
    background-color: bisque;
}